* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards-container {
    background: rgb(244, 246, 248);
}

.cards {
    width: 896px;
    max-height: 463px;
    position: relative;
    margin: 35px;
    transition: all .2s ease-out;
    overflow: hidden;
}

.cards.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
}

.cards.details {
    display: table;
}

.cards .card {
    border: 1px solid #F4F6F8;
    width: 275px;
    height: 150px;
    margin-bottom: 15px;
    background: white;
    border-radius: 10px;
    padding: 10px 30px;
    position: relative;

    transition: all .2s ease-out;
}

.cards .card:hover {
    box-shadow: 0px 10px 20px -2px rgba(106, 133, 160, 0.1);
}

.cards.details .card {
    height: 61px;
    float: right;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    margin-left: 386px;
    padding: 0 16px;
}

.cards.details .card.active {
    width: 583px;
    height: 366px;
    float: left;
    display: initial;
    margin-left: 0;
    position: absolute;
    padding: 10px 30px;
}

.cards .card .close {
    display: none;
    position: absolute;
    right: 6px;
    top: 10px;
    cursor: pointer;
    width: 30px;
}

.cards .card.active .close {
    display: block;
}

.cards.list .card .description {
    color: #D6D9DD;
    font-size: 20px;
}

.cards.list .card .percent {
    font-weight: 500;
    font-size: 35px;
    margin-top: 24px;
}

.cards.details .card .percent {
    margin-top: 0;
}

.cards.details .card.active .percent {
    font-size: 45px;
    margin-top: 34px;
}